*.
*.class
.classpath
.project
.settings
.checkstyle
.springBeans
*.swp
*.bak
*~
*.~ml
*.orig
*.rej
*.tlog
*.h2.db
*.flv
*.mp4

*.swp
*.bak
*~
*.~ml
*.orig
*.msi

.DS_Store
work
logs
target
bin
.bpmn

WEB-INF/classes
WEB-INF/lib
WEB-INF/app/cdeio
WEB-INF/app/cdeio-modules

src/main/javascript
src/main/webapp/scripts/main-dist.js
src/main/webapp/scripts/libs.bak
src/main/webapp/scripts/cdeio
test-output

src/main/webapp/WEB-INF/files
src/main/webapp/WEB-INF/indexes

*.
*.class
.classpath
.project
.settings
.checkstyle
.springBeans
*.swp
*.bak
*~
*.~ml
*.orig
*.rej
*.tlog
*.h2.db
*.flv
*.mp4