<fieldset class="c-form-group-cols-2 custom-form">
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                        <td class="span2" style="text-align:right;vertical-align:middle;" >
                            <label>名称&nbsp;&nbsp;&nbsp;</label>
                        </td>
                        <td class="span4">{{{name}}}</td>
                        <td class="span2" style="text-align:right;vertical-align:middle;" >
                            <label>申请人&nbsp;&nbsp;&nbsp;</label>
                        </td>
                        <td class="span4">{{{applicant}}}</td>
                    </tr>
                    <tr>
                        <td class="span2" style="text-align:right;vertical-align:middle;" >
                            <label>申请时间&nbsp;&nbsp;&nbsp;</label>
                        </td>
                        <td class="span4">{{{applyTime}}}</td>
                        <td class="span2" style="text-align:right;vertical-align:middle;" >
                            <label>描述&nbsp;&nbsp;&nbsp;</label>
                        </td>
                        <td class="span4">{{{description}}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>

<fieldset class="c-form-group-cols-2 custom-form">
    <!-- general -->
    <div class="row-fluid">
        <div class="span12">
            <legend>一般检查</legend>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th class="span2" style="text-align:center;font-size: 14px;">位置</th>
                        <th class="span2" style="text-align:center;font-size: 14px;">外观</th>
                        <th class="span2" style="text-align:center;font-size: 14px;">备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:middle;font-size: 14px;">主表</td>
                        <td>{{{mainAppearance}}}</td>
                        <td>{{{mainRemark}}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;vertical-align:middle;font-size: 14px;">副表</td>
                        <td>{{{auxAppearance}}}</td>
                        <td>{{{auxRemark}}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>


