<fieldset class="c-form-group-cols-2 custom-form">
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                        <td class="span2" style="text-align:right;vertical-align:middle;" >
                            <label>名称&nbsp;&nbsp;&nbsp;</label>
                        </td>
                        <td class="span4">{{{name}}}</td>
                        <td class="span2" style="text-align:right;vertical-align:middle;" >
                            <label>申请人&nbsp;&nbsp;&nbsp;</label>
                        </td>
                        <td class="span4">{{{applicant}}}</td>
                    </tr>
                    <tr>
                        <td class="span2" style="text-align:right;vertical-align:middle;" >
                            <label>申请时间&nbsp;&nbsp;&nbsp;</label>
                        </td>
                        <td class="span4">{{{applyTime}}}</td>
                        <td class="span2" style="text-align:right;vertical-align:middle;" >
                            <label>描述&nbsp;&nbsp;&nbsp;</label>
                        </td>
                        <td class="span4">{{{description}}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>
